<?php return array(
    'service_manager' => array(
        'factories' => array(
            /*
             * Database adapter
             */
            'Zend\Db\Adapter\Adapter'       => 'Zend\Db\Adapter\AdapterServiceFactory',
        )
    )
);